# === LLM: GEMINI ===
GOOGLE_API_KEY=your_google_api_key_here
LLM_PROVIDER=google
LLM_MODEL=gemini-2.5-flash

# Para uso com Ollama/local
OPENAI_API_BASE=http://127.0.0.1:11434/v1
OPENAI_API_KEY=your_openai_key_here

# === EMBEDDINGS ===
EMBEDDING_MODEL=multilingual-e5-base
EMBEDDING_PROVIDER=sentence-transformers
PATH_MODEL_EMBEDDINGS="Caminho para a pasta huggingFace na memória"

# === VECTOR DATABASE (CHROMA) ===
CHROMA_PATH=./storage/chroma_db
CHROMA_COLLECTION=normas_collection
DOCSTORE_PATH=./storage/docstore
ANONYMIZED_TELEMETRY=False

# === DATASETS / DOCUMENTOS ===
PDFS_PATH=./data/pdfs
METADATA_PATH=./normas/metadata

# === FRAGMENTAÇÃO (CHUNKS) ===
CHUNK_PAI_SIZE=2000
CHUNK_PAI_OVERLAP=200
CHUNK_FILHO_SIZE=500
CHUNK_FILHO_OVERLAP=100